<!-- Desktop - 1 -->
<div class="frame" id="n0_3">
	<!-- Nav -->
	<div class="frame" id="n123_111">
		<!-- Frame 3 -->
		<div class="frame" id="n124_117">
			<!-- 01 Textbox -->
			<div class="component left top instance" id="n5_4">
				<!-- Text box -->
				<div class="subsets scale text" id="nI5_4-119_157">
					<span id="nI5_4-119_157-124">JI</span>
					<span id="nI5_4-119_157-123">HOON.</span>
				</div>
			</div>
		</div>
		<!-- Frame 2 -->
		<div class="frame" id="n124_116">
			<!-- 14 Tabs -->
			<div class="component left top instance" id="n7_59">
				<!-- Page 2 -->
				<div class="frame" id="nI7_59-1_2159">
					<!-- Tab -->
					<div class="left center text" id="nI7_59-1_2160">Home</div>
				</div>
				<!-- Page 3 -->
				<div class="frame" id="nI7_59-1_2162">
					<!-- Tab -->
					<div class="left center text" id="nI7_59-1_2163">About</div>
				</div>
				<!-- Page 4 -->
				<div class="frame" id="nI7_59-1_2164">
					<!-- Tab -->
					<div class="left center text" id="nI7_59-1_2165">Portfolio</div>
				</div>
				<!-- Page 5 -->
				<div class="frame" id="nI7_59-1_2166">
					<!-- Tab -->
					<div class="left center text" id="nI7_59-1_2167">Contact</div>
				</div>
			</div>
		</div>
	</div>
	<!-- main -->
	<div class="frame" id="n124_119">
		<!-- Frame 1 -->
		<div class="frame" id="n124_115">
			<!-- 01 Textbox -->
			<div class="component left top instance" id="n9_17">
				<!-- Text box -->
				<div class="scale text" id="nI9_17-119_157">Robotics Engineer</div>
			</div>
			<!-- Hi, I’m Jihoon Kim From Korea -->
			<div class="subsets left top text" id="n9_25">
				<span id="n9_25-0">Hi, I'm </span>
				<span id="n9_25-151">Jihoon<br></span>
				<span id="n9_25-undefined">Kim From Korea</span>
			</div>
		</div>
		<!-- 00 Image -->
        {% load static %}
		<img  src="{% static '/img/00 Image.jpg' %}" class="component left top instance" id="n7_80">
	</div>
</div>


<!-- ———————      CSS      ——————— -->
<style>

/* Desktop - 1 */
#n0_3 {
    /* Desktop - 1 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 0px;
    gap: 83px;

    position: relative;
    width: 1440px;
    height: 876px;

    background: #000000;
}

	/* Nav */
	#n123_111 {
        /* Nav */


        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 637px;

        width: 1320px;
        height: 67px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
	}

		/* Frame 3 */
		#n124_117 {
            /* Frame 3 */


            /* Auto layout */

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px;
            gap: 10px;

            width: 237px;
            height: 67px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
		}

			/* 01 Textbox */
			#n5_4 {
                /* 01 Textbox

                aka Words, Copy, Paragraph, Title
                */

                /* Auto layout */

                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 8px;

                width: 217px;
                height: 47px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
			}

				/* Text box */
				#nI5_4-119_157 {
<!--                    /* Text box */-->


<!--                    width: 217px;-->
<!--                    height: 52px;-->

<!--                    font-family: 'Nunito';-->
<!--                    font-style: normal;-->
<!--                    font-weight: 700;-->
<!--                    font-size: 40px;-->
<!--                    line-height: 130%;-->
<!--                    /* identical to box height, or 52px */-->



<!--                    color: #FFFFFF;-->


<!--                    /* Inside auto layout */-->

<!--                    flex: none;-->
<!--                    order: 0;-->
<!--                    flex-grow: 1;-->
				}

					/* Text box Subset */
					#nI5_4-119_157-124 {
                    /* Text box */


                        width: 217px;
                        height: 52px;

                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 130%;
                        /* identical to box height, or 52px */



                        color: #FF4040;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 1;
					}

					/* Text box Subset */
					#nI5_4-119_157-123 {
                        /* Text box */


                        width: 217px;
                        height: 52px;

                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 130%;
                        /* identical to box height, or 52px */



                        color: #FFFFFF;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 1;
					}

		/* Frame 2 */
		#n124_116 {
            /* Frame 2 */


            /* Auto layout */

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 10px;
            gap: 10px;

            width: 446px;
            height: 65px;


            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;
		}

			/* 14 Tabs */
			#n7_59 {
                /* 14 Tabs

                aka Pages, Navigation, Toggle
                */

                /* Auto layout */

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 0px;

                width: 426px;
                height: 45px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
			}

				/* Page 2 */
				#nI7_59-1_2159 {
                    /* Page 2 */


                    box-sizing: border-box;

                    /* Auto layout */

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px 12px;
                    gap: 8px;

                    width: 106.5px;
                    height: 44px;

                    border-bottom: 2px solid #FFFFFF;

                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    flex-grow: 1;
				}

					/* Tab */
					#nI7_59-1_2160 {
                        /* Tab */


                        width: 56px;
                        height: 24px;

                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        /* identical to box height, or 120% */

                        color: #FFFFFF;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
					}

				/* Page 3 */
				#nI7_59-1_2162 {
                    /* Page 3 */


                    box-sizing: border-box;

                    /* Auto layout */

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px 12px;
                    gap: 8px;

                    width: 106.5px;
                    height: 44px;

                    border-bottom: 2px solid #D9D9D9;

                    /* Inside auto layout */

                    flex: none;
                    order: 2;
                    flex-grow: 1;
				}

					/* Tab */
					#nI7_59-1_2163 {
                        /* Tab */


                        width: 58px;
                        height: 24px;

                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        /* identical to box height, or 120% */

                        color: #898989;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
					}

				/* Page 4 */
				#nI7_59-1_2164 {
                    /* Page 4 */


                    box-sizing: border-box;

                    /* Auto layout */

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px 12px;
                    gap: 8px;

                    width: 106.5px;
                    height: 44px;

                    border-bottom: 2px solid #D9D9D9;

                    /* Inside auto layout */

                    flex: none;
                    order: 3;
                    flex-grow: 1;
				}

					/* Tab */
					#nI7_59-1_2165 {
                        /* Tab */


                        width: 82px;
                        height: 24px;

                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        /* identical to box height, or 120% */

                        color: #898989;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
					}

				/* Page 5 */
				#nI7_59-1_2166 {
                    /* Page 5 */


                    box-sizing: border-box;

                    /* Auto layout */

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px 12px;
                    gap: 8px;

                    width: 106.5px;
                    height: 44px;

                    border-bottom: 2px solid #D9D9D9;

                    /* Inside auto layout */

                    flex: none;
                    order: 4;
                    flex-grow: 1;
				}

					/* Tab */
					#nI7_59-1_2167 {
                        /* Tab */


                        width: 72px;
                        height: 24px;

                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        /* identical to box height, or 120% */

                        color: #898989;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
					}

	/* main */
	#n124_119 {
        /* main */


        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
        gap: 125px;

        width: 1310px;
        height: 726px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
	}

		/* Frame 1 */
		#n124_115 {
            /* Frame 1 */


            /* Auto layout */

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px;
            gap: 13px;

            width: 500px;
            height: 252px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
		}

			/* 01 Textbox */
			#n9_17 {
                /* 01 Textbox

                aka Words, Copy, Paragraph, Title
                */

                /* Auto layout */

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;

                width: 341px;
                height: 53px;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
			}

				/* Text box */
				#nI9_17-119_157 {
                    /* Text box */


                    width: 341px;
                    height: 45px;

                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 35px;
                    line-height: 130%;
                    /* or 45px */


                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    flex-grow: 1;
				}

			/* Hi, I’m Jihoon Kim From Korea */
			#n9_25 {
<!--                /* Hi, I’m Jihoon Kim From Korea */-->


<!--                width: 466px;-->
<!--                height: 166px;-->

<!--                font-family: 'Nunito';-->
<!--                font-style: normal;-->
<!--                font-weight: 600;-->
<!--                font-size: 64px;-->
<!--                line-height: 130%;-->
<!--                /* or 83px */-->

<!--                /* Inside auto layout */-->

<!--                flex: none;-->
<!--                order: 1;-->
<!--                flex-grow: 0;-->
			}

				/* Hi, I’m Jihoon Kim From Korea Subset */
				#n9_25-0 {
                    /* Hi, I’m Jihoon Kim From Korea */


                    width: 466px;
                    height: 166px;

                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 64px;
                    line-height: 130%;
                    /* or 83px */


                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    flex-grow: 0;
				}

				/* Hi, I’m Jihoon Kim From Korea Subset */
				#n9_25-151 {
                    /* Hi, I’m Jihoon Kim From Korea */


                    width: 466px;
                    height: 166px;

                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 64px;
                    line-height: 130%;
                    /* or 83px */


                    color: #FF4040;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    flex-grow: 0;
				}

				/* Hi, I’m Jihoon Kim From Korea Subset */
				#n9_25-undefined {
                    /* Hi, I’m Jihoon Kim From Korea */


                    width: 466px;
                    height: 166px;

                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 64px;
                    line-height: 130%;
                    /* or 83px */


                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    flex-grow: 0;
				}

		/* 00 Image */
		#n7_80 {
            /* 00 Image

            aka Picture, Media, Photo
            */

            width: 529px;
            height: 704px;

            background: url(16481224257666.jpg);
            border-radius: 4px;

            /* Inside auto layout */

            flex: none;
            order: 1;
            flex-grow: 0;
		}
</style>